.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
test-workspace/**
.git/**
*.vsix
.eslintrc*
.prettierrc*
vitest.config.*
coverage/**
